@import url("https://use.typekit.net/zki2xeo.css");
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$themeColor: #242424;
$themeBgColor: #f0f8f3;
$textThikColor: #242424;
$inputPlaceholderColor: #929292;
$primaryTextColor: #007456; 
$primaryBgColor: #28A0F7;
$secondaryBgColor: #71b132;
$secondaryTextColor: #71b132;
$whiteTextColor: #fff;
$whiteBgColor: #fff;
$blackTextColor: #000;
$blackBgColor: #000; 
$darkBgColor: #393554;
$primaryTransparentTextColor: #f0f8f3;
$primaryTransparentBgColor: #f0f8f3;
$infoColor: #007456;
$primaryColor: #147700;


// fonts
$primaryFont:  "Muli", sans-serif;
$secondaryFont: "Muli", sans-serif;
// font weight
$fontWeightThink: 300;
$fontWeightRegular: 400;
$fontWeightMediumBold: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

// radius
$primaryBtnRadius: 5px;
$secondaryBtnRadius: 17px;
$themeRadius: 6px;
$secondaryRadius: 16px;

// font size
$primaryBtnFontSize: 14px;
$secondaryBtnFontSize: 14px;
$themeFontSize: 14px;
$themeLineHeight: 22px;

//  border
$primaryBorderColor: #c9c9c9;

// form field background and color
$formFieldBg: #f0f8f3;
$formFieldColor: #000;

// button
$disabledBtn: #e6d0d03b;

// box shadow
$primaryBoxShadow: 0px 3px 6px #00000029;
// padding
$primaryCardPadding: 30px 25px;
$secondaryCardPadding: 15px 25px;
