.carosol-bg-one {
    background-image: url("https://i.ibb.co/xJQm1tH/1710622526-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
  }
  
  
  .carosol-bg-two {
    background-image: url("https://i.ibb.co/M70SfYt/80435e33-4b8c-4a50-bbca-ca5b83f888ac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

  
  }
  
  .carosol-bg-three {
    background-image: url("https://i.ibb.co/zZLPHmg/7d2fe3e4-0b36-4d0c-9fd2-8df024098b77.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

  
  }